:root {}

* {
    box-sizing: border-box;
}

.btn {
    --background-hue: 0;
    --background-saturation: 0%;
    --initial-background-lightness: 90%;
    --background-lightness: var(--initial-background-lightness);
    --border-lightness: calc(var(--initial-background-lightness) - 20%);
    background-color: hsl(var(--background-hue),
            var(--background-saturation),
            var(--background-lightness));
    border: 1px solid hsl(var(--background-hue),
            var(--background-saturation),
            var(--border-lightness));
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
}

.btn:hover,
.btn:focus {
    --background-lightness: calc(var(--initial-background-lightness) - 10%);
    box-shadow: 0 0 5px 0 hsl(var(--background-hue),
            var(--background-saturation),
            var(--border-lightness));
}

.btn.btn-primary {
    --background-hue: 271;
    --background-saturation: 70%;
    --initial-background-lightness: 50%;
    color: white;
}

.btn.btn-accent {
    --background-hue: 200;
    --background-saturation: 100%;
    --initial-background-lightness: 40%;
    color: white;
}

.btn.btn-danger {
    --background-hue: 0;
    --background-saturation: 60%;
    --initial-background-lightness: 50%;
    color: white;
}

.btn.btn-large {
    padding: 0.75rem 1.25rem;
    font-size: 1.5rem;
}

.btn.btn-small {
    padding: 0.5rem 0.75rem;
    font-size: 0.75rem;
}

.btn.btn-pill {
    border-radius: 99999px;
}

.btn.btn-custom {
    --primary: hsl(271, 70%, 50%);
    --primary-hover: hsl(271, 70%, 40%);

    --accent: hsl(200, 100%, 40%);
    --accent-hover: hsl(200, 100%, 30%);

    --custom: linear-gradient(to right, var(--primary), var(--accent));
    --custom-hover: linear-gradient(to right, var(--primary-hover), var(--accent-hover));
    background: var(--custom);
    border-color: black;
    color: white;
}

.btn.btn-custom:hover,
.btn.btn-custom:focus {
    background: var(--custom-hover);
    box-shadow: 0 0 5px 0 black;
}